#logo {
    margin: -10px 15px -10px 0px;
    opacity: 0.7
}
.navbar-brand:hover #logo {
    opacity: 1
}
#home-header {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
#home-header > .container > img {
    float: left;
}
#home-header > .container > p {
    margin-left: 100px;
}
#home-header h1 {
    margin-top: 0px;
}
#home-header img + p {
    font-size: 20px;
    line-height: 1.3;
}
#home-header p {
    font-size: 14px;
}
#home-cells > .row > div {
    text-align: center;
}
#home-cells > .row > div h2 {
    margin-top: 5px;
}

.page-header {
    margin-top: 0px;
    margin-bottom: 20px;

    padding-bottom: 0px;
}
.page-header h1 {
    margin: 0;
}

#post-list {
    list-style-type: none;
}
#post-list > li {
    margin-top: 5px;
    border-bottom: 1px dotted #ddd;
    padding-bottom: 4px;
}
#post-list > li:hover {
    border-bottom: 1px dotted #999;
}
#post-list > li > a:hover {
    text-decoration: none;
    font-weight: bold;
}
#post-list > li > small {
    float: right;
    padding-top: 4px;
    margin-right: 15px;
}
